<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Helping Hands</h1>

  <h2>
    Need help moving?
    <p></p>
    <%= link_to "Login", logincustomer_path, class: "btn btn-lg btn-primary" %>
    <p></p>
    <%= link_to "Sign up now!", signupcustomer_path, class: "btn btn-lg btn-primary" %>
  </h2>
</div>

  
  <h2>
    Work with us! Apply today!
    <p></p>
    <%= link_to "Sign up now!", apply_path, class: "btn btn-lg btn-primary" %>
  </h2>
</div>