<% provide(:title, "Invoice") %>

<div class="center jumbotron">
  <h1>Invoice</h1>

  <h2>
    The estimated cost of your move is $2250. 
    <p></p>
    <%= link_to "Accept", logincustomer_path, class: "btn btn-lg btn-primary" %>
    <p></p>
    <%= link_to "Decline", signupcustomer_path, class: "btn btn-lg btn-primary" %>
  </h2>
</div>

<% end %>