<% provide(:title, "Login") %>
<!DOCTYPE html><html lang="en">
  <head>
<!-- Required meta tags -->
<title><%= yield(:title) %> | Helping Hands</title>
  </head>
  <body>
</nav>
  <div class="container">
    <div class="row">
      <div id="header-text" class="order-2 order-sm-2 order-md-1 col-12 col-sm-12 col-lg-6 col-md-7 text-md-left">
        <p class="lead">Username</p>
        <p class="lead">Password</p>
        <button type="button" class="btn btn-light mb-3">Login</button>
      </div>
    </div>
    <div class="row">
      <div class="w-100"><a href="">Forgot Password</a></div>
    </div>
  </div>
    <footer id="page-footer" class="bg-dark">
      <div class="container">
        <div class="row text-light">
          <div class="col">
            <h4 class="lead">Create Account</h4>
            <button class="btn mt-3">Create Account</button>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript --> 
    <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body></html>