<% provide(:title, @applicant.firstName) %>
<div class="row">
  <aside class="col-md-4">
    <section class="applicant_info">
      <h1>
	Welcome, 
  <%= @applicant.firstName %>!
	  </h1>
	  <p></p>
	  <%= link_to "Search for Jobs", jobs_path, class: "btn btn-lg btn-primary" %>
    </section>
  </aside>
</div>