<% provide(:title, @applicant.firstName) %>
<div class="row">
  <aside class="col-md-4">
    <section class="applicant_info">
      <h1>
	Welcome, 
  <%= @applicant.firstName %>!
	  </h1>
    </section>
  </aside>
</div>