<% provide(:title, @customer.firstName) %>
<div class="row">
  <aside class="col-md-4">
    <section class="customer_info">
      <h1>
	Welcome, 
  <%= @customer.firstName %>!
	  </h1>
    </section>
  </aside>
</div>