<footer class="footer">
  <small>

  </small>
  <nav>
    <ul>
      <li><%= link_to "Admin",   loginadmin_path %></li>
      <li><%= link_to "Worker Login", loginapplicant_path %></li>
    </ul>
  </nav>
</footer>